.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.continer {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  /* text-decoration: none; */

  /* margin-top: 5px; */
}
.continer ul {
  display: flex;
  list-style: none;
}
.continer ul a {
  text-decoration: none;
  padding: 5px;
}
header {
  display: flex;
}
section {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  /* background: #000; */
}
.imge1 img {
  display: block;
  width: 200px;
  padding: 10px;
}
.imge2 img {
  display: block;
  width: 200px;
  padding: 10px;
}
.image3 img {
  display: block;
  width: 200px;
  padding: 10px;
}
.footer1 p {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
}
.icons1 {
  padding: 10px;
  justify-content: center;
  text-align: center;
}
.icons1 i {
  padding: 10px;
}
